---
layout: default
title: Blog
description: Thoughts, tutorials, and updates about AI, programming, and building tools
permalink: /blog/
hero: true
---

.hero
  div
    h1 {{ page.title }}
    p.excerpt {{ page.description }}

main.container.mx-auto.px-4.py-8
  | {% if site.posts.size > 0 %}
  .max-w-4xl.mx-auto
    | {% for post in site.posts %}
    | {% include card.pug
    |   type="post"
    |   url=post.url
    |   title=post.title
    |   date=post.date
    |   excerpt=post.excerpt
    |   tags=post.tags
    | %}
    | {% endfor %}
  | {% else %}
  p.no-posts No posts yet.
  | {% endif %}
