---
layout: default
title: Blog
description: Thoughts, tutorials, and updates about AI, programming, and building tools
permalink: /blog/
hero: true
---

.hero
  h1 {{ page.title }}
  p.lead {{ page.description }}

main.container.mx-auto.px-4.py-8
  | {% if site.posts.size > 0 %}
  | {% for post in site.posts %}
  | {% include card.pug
  |   type="post"
  |   url=post.url
  |   title=post.title
  |   date=post.date
  |   excerpt=post.excerpt
  |   tags=post.tags
  | %}
  | {% endfor %}
  | {% else %}
  p.no-posts No posts yet.
  | {% endif %}
