---
layout: default
title: Projects
description: Tools, experiments, and open source work I've built
permalink: /projects/
hero: true
---

.hero
  h1 {{ page.title }}
  p.lead {{ page.description }}

main.container.mx-auto.px-4.py-8
  | {% if site.projects.size > 0 %}
  | {% for project in site.projects %}
  | {% include card.pug
  |   type="project"
  |   url=project.url
  |   title=project.title
  |   excerpt=project.excerpt
  |   status=project.status
  |   tags=project.tags
  |   github=project.github
  |   demo=project.demo
  | %}
  | {% endfor %}
  | {% else %}
  p.no-projects No projects yet.
  | {% endif %}
