//- Card component for posts, projects, and notes
//- Usage: {% include card.pug type="post" url=post.url title=post.title date=post.date excerpt=post.excerpt tags=post.tags %}
article(class="card {{ include.type }}-card")
  .card-content
    h2.card-title
      a(href="{{ include.url }}") {{ include.title }}
    | {% if include.date %}
    p.card-date
      i.far.fa-calendar.mr-2
      | {{ include.date | date: "%B %d, %Y" }}
    | {% endif %}
    | {% if include.excerpt %}
    p.card-excerpt {{ include.excerpt }}
    | {% endif %}
    | {% if include.status %}
    span.status(class="status-{{ include.status | slugify }}")
      i.fas.fa-circle-notch.mr-2
      | {{ include.status }}
    | {% endif %}
    | {% if include.tags %}
    .card-tags
      | {% for tag in include.tags %}
      span.tag {{ tag }}
      | {% endfor %}
    | {% endif %}
    | {% if include.type == "project" and include.github or include.demo %}
    .card-links
      | {% if include.github %}
      a.github(href="https://github.com/{{ include.github }}")
        i.fab.fa-github.mr-2
        | GitHub
      | {% endif %}
      | {% if include.demo %}
      a.demo(href="{{ include.demo }}")
        i.fas.fa-external-link-alt.mr-2
        | Live Demo
      | {% endif %}
    | {% endif %}
