---
layout: default
hero: true
---

article.post
  | {% assign reading_time = content | number_of_words | divided_by: 200 | plus: 1 | append: " min read" %}
  | {% assign formatted_date = page.date | date: "%B %d, %Y" %}
  | {% include hero.pug
  |   title=page.title
  |   excerpt=page.excerpt
  |   description=page.description
  |   date=formatted_date
  |   author=page.author
  |   tags=page.tags
  |   reading_time=reading_time
  | %}

  main.container.mx-auto.px-4.py-8
    .prose.mx-auto
      | {{ content }}

      .post-footer.mt-12.pt-6
        //- Social sharing component
        | {% include social-share.pug title=page.title url=page.url %}

        hr(class="my-8 border-border")

        | {% if page.previous or page.next %}
        nav.post-nav
          | {% if page.previous %}
          a.prev(href="{{ page.previous.url }}")
            div.label
              i.fas.fa-arrow-left.mr-2
              | Previous Post
              div.title {{ page.previous.title }}
          | {% endif %}
          | {% if page.next %}
          a.next(href="{{ page.next.url }}")
            span.label
              | Next Post
              i.fas.fa-arrow-right
            span.title {{ page.next.title }}
          | {% endif %}
        | {% endif %}
