---
layout: default
---

article.project
  | {% assign formatted_date = page.date | date: "%Y-%m-%d" | prepend: "Updated " %}
  | {% include hero.pug
  |   title=page.title
  |   status=page.status
  |   excerpt=page.excerpt
  |   description=page.description
  |   date=formatted_date
  |   tags=page.tags
  |   github=page.github
  | %}

  main.container.mx-auto.px-4.py-8
    .prose.mx-auto
      | {{ content }}

      | {% if page.categories %}
      .categories.mt-8
        h3
          i.fas.fa-folder.mr-2
          | Categories
        ul
          | {% for category in page.categories %}
          li
            i.fas.fa-folder-open.mr-1
            | {{ category }}
          | {% endfor %}
      | {% endif %}
